@model AIM.Service.Entities.Models.OpenJob

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OpenJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.regionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.regionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
