@model AIM.Web.Admin.Models.EntityModels.OpenJob

@{
    ViewBag.Title = "Details";
    var userName = TempData["userName"];
    TempData["userName"] = userName;
    var permissions = TempData["Permissions"];
    TempData["Permissions"] = permissions;
}

<h2>Details</h2>

<div>
    <h4>Job Opening</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        

    </dl>

    <a class="btn btn-success" href="@Url.Action("Delete", "OpenJob", new { id = Model.OpenJobsId })">
        <i class="icon-zoom-in icon-white"></i>
        Delete Opening
    </a>

    @if(ViewBag.Approved == false)
    { 
        <a class="btn btn-success" href="@Url.Action("ApproveOpening", "OpenJob", new { id = Model.OpenJobsId })">
            <i class="icon-zoom-in icon-white"></i>
            Approve Opening
        </a>
    }
    
    @Html.ActionLink("Back to List", "OpenJobList", new { StoreId = Model.StoreId })
</div>



