@model AIM.Application.Service.Entities.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applicant.applicantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.applicantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.employeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.employeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socialSecurityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socialSecurityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.applicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
