@model AIM.Service.Entities.Models.Applicant

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Applicant</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.educationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.educationId)
                @Html.ValidationMessageFor(model => model.educationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.jobHistoryId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jobHistoryId)
                @Html.ValidationMessageFor(model => model.jobHistoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.referenceId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.referenceId)
                @Html.ValidationMessageFor(model => model.referenceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userId)
                @Html.ValidationMessageFor(model => model.userId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.applicationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.applicationId)
                @Html.ValidationMessageFor(model => model.applicationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answerId)
                @Html.ValidationMessageFor(model => model.answerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hoursId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hoursId)
                @Html.ValidationMessageFor(model => model.hoursId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
