@model AIM.Application.Service.Entities.Models.OpenJob

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job Opening for @ViewBag.Position</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region.regionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.regionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.description)
        </dd>        
    </dl>
</div>

<div>
    <dl class="dl-horizontal">
        <dd>
            <a class="btn btn-success">
                <i class="icon-zoom-in icon-white"></i>
                Apply Now
            </a>
        </dd>        
     </dl>
</div>

<div>   
    <p>
        @Html.ActionLink("Back to List", "Index", new { RegionId=Model.regionId})
    </p>    
</div>

