@model IEnumerable<AIM.Web.ClientApp.Models.EntityModels.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.qJsonProperties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionnaireId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interviewQuestionsId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.qJsonProperties)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionnaireId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interviewQuestionsId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.questionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.questionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.questionId })
        </td>
    </tr>
}

</table>
