@model AIM.Web.ClientApp.Models.EntityModels.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Applicant</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.educationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.educationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobHistoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobHistoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.applicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoursId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoursId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.applicantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
